.pytest_cache/
.venv/
venv/
.vscode/
data/
explorations/
tests/

**/.gitignore
**/.gitkeep

.env
main.py
README.md
run_mlflow.sh

src/__pycache__/
src/core/__pycache__/
src/core/utils/__pycache__/
src/core/inference/__pycache__/

src/core/pipeline/
